
.product{
    background-color: white !important;
    width: 100%;
}

.pdt{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
img{
    width: 400px;
    height: 350px;
    margin-top: 5px;
}
.img{
    width: 410px;
    height: 410px;
    background-color: rgb(231, 224, 224);
    margin-top: 15px;
}
.img:hover{
    color: black;
    border-color: #fff;
    
    box-shadow: 1px 1px 3px 3px rgb(202, 201, 201);
}